<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block title %}
  {% if form.instance.pk %}
    Update User Profile "{{ form.instance.user.get_full_name }}"
  {% else %}
    Create New User Profile
  {% endif %}
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-md-12">
      <h1>{{ title }}</h1>
      <hr>
      <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" class="btn btn-primary" value="Save">
        <a href="{% url 'user_profile_list' %}" class="btn btn-default">Cancel</a>
      </form>
    </div>
  </div>
{% endblock %}
</body>
</html>
